.nav {
    float: right;

}
    
h1 {
    color: #f15b31
}
header {
    display: flex;

}

img {
    margin-top: 380px;
    border-radius: 50%;
    text-align: center;
    width: 300px;
    height: 400px;


}
#profileImage {
    display: flex;
    width: 35px;
    height: 20px;
    align-items: center;
    
}

#contactMe {

    margin-top: 420px;
    flex-direction: row;
    justify-content: center;
}

.flex-container {

        display: flex;
        justify-content: center;

}

.copyright {
    padding-left: 30px;

}

.message {
    
        text-align: right;
        padding-right: 30px;

}


.name {
    color: #f15b31;
    font-weight: 100;
}

footer {

    display: flex;
}
