/* Variables */

:root {
  --cmkBlu: #00b8cb;
  --magnoliaPink: #bf5272;
}

/* CMK Blu Options */
/* #00B0C4 : cyan darken-1 */

/* Possible Color Palette
--cmkBlu: #00B8CB
--magnoliaPink: #bf5272
#26547C
#EF476F
#FFD166
 */

/*! Overall Styling */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  /* min-width: 100vw !important; */
  font-family: 'Raleway', sans-serif;
  background-color: var(--cmkBlu) !important;
}

/*! NavBar Styling */
.nav-extended {
  background-color: var(--cmkBlu) !important;
}

#about,
#portfolio,
#contact {
  min-height: 100vh;
}

.nav {
  box-shadow: none !important;
}
.brand-logo img {
  height: 3rem;
  margin-top: 1rem !important;
}

.name {
  font-size: 67px;
}

.box-text {
  margin: 0 auto;
  border: 5px solid white;
  padding: 40px;
}

.brand {
  font-size: 28px;
}

section {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  border-bottom: 3px solid #ffffff;
}

.tag-line {
  font-size: 37px;
}

.arrow-down {
  animation: arrowDownMovement 2s;
  animation-delay: 2s;
  animation-iteration-count: 3;
}

/*! My Work Styling */

div.row.myWork {
  justify-content: center;
}

.card-title {
  color: white !important;
  padding-left: 220px !important;
  font-weight: 700px !important;
  font-size: 2rem !important;
}

/* span.card-title {
  color: white !important;
  color: #231651 !important;
  padding-left: 235px;
} */

.card-action {
  border-top: none !important;
}

.card-action > a {
  color: white !important;
  text-align: center !important;
  margin-left: 24px;
}
.card-action > a:hover {
  color: #231651 !important;
}

#p1Title {
  color: #00b8cb !important;
}

#p2Title {
  color: #00b8cb !important;
  padding-left: 120px !important;
}

#p5Title {
  padding-left: 145px !important;
  margin-bottom: -15px !important;
}

#p5Pic {
  height: 650px !important;
}

#p6Title {
  padding-left: 110px !important;
  margin-bottom: 120px !important;
}

#p6Pic {
  height: 370px !important;
}

/* 
#p2Text {
  height: 100px !important;
}

#p2Links {
  margin-top: 100px !important;
} */

.social {
  padding-bottom: 45px !important;
}

/* MyWork Card Colors */
.card-1 {
  background-color: #f76f91;
}
.card-2 {
  background-color: #7abadc;
}
.card-3 {
  background-color: #8592e0;
}
/* .card-3 {
  background-color: #82abf7;
} */
.card-4 {
  background-color: #c67bc0;
}

/*! Materialize Form Styling */

.form {
  border: 5px solid white;
  padding: 45px !important;
}

.form-header {
  padding-bottom: 40px !important;
}

.form-submit {
  font-size: 24px;
}

/* label color */
.input-field label {
  color: #fff;
}
/* label focus color */
.input-field input[type='text']:focus + label {
  color: #231651 !important;
}
/* label underline focus color */
.input-field input[type='text']:focus {
  border-bottom: 1px solid #231651 !important;
  /* box-shadow: 0 1px 0 0 #231651; */
}
/* label underline color */
.input-field input[type='text'] {
  border-bottom: 1px solid #fff !important;
  /* box-shadow: 0 1px 0 0 #000; */
}
/* valid color */
.input-field input[type='text'].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type='text'].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #231651 !important;
}

/* Textarea form styling */
/* label focus color */
.input-field textarea:focus + label {
  color: #231651 !important;
}
/* label underline focus color */
.input-field textarea:focus {
  border-bottom: 1px solid #231651 !important;
  /* box-shadow: 0 1px 0 0 #231651; */
}
/* label underline color */
.input-field textarea {
  border-bottom: 1px solid #fff !important;
  /* box-shadow: 0 1px 0 0 #000; */
}

#email::placeholder {
  color: #fff;
  font-size: 1rem;
}

/*! Thank You Section  */

/* Arrow Annimation */
.arrow-up {
  animation: arrowUpMovement 2s;
  animation-delay: 10s;
  animation-iteration-count: 3;
}

/*! Footer Styling */
footer {
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  bottom: 0;
  /* padding: 10px; */
  padding-right: 15px !important;
  padding-left: 15px !important;
}

/*! Animations */

@keyframes arrowDownMovement {
  0% {
    opacity: 0;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translateY(50px);
  }
}

@keyframes arrowUpMovement {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/*! Media Queries */

/* Brand Logo Removal on Smaller Devices */
@media (max-width: 992px) {
  .brand-logo {
    visibility: hidden;
  }
}
/* footer */
@media (max-width: 700px) {
  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .tag-line {
    font-size: 1.4rem;
  }

  .box-text.name {
    font-size: 2.5rem;
  }

  .box-text {
    font-size: 1.3rem;
  }

  .card-title {
    font-weight: 700px !important;
    font-size: 1.5rem !important;
  }

  #p1Title {
    color: #231651 !important;
    padding-left: 120px !important;
    margin-bottom: 15px !important;
  }

  #p2Title {
    padding-left: 50px !important;
    color: #231651 !important;
    margin-bottom: -15px !important;
  }

  #p5Title {
    padding-left: 82px !important;
    margin-bottom: 85px !important;
  }

  #p4Title {
    padding-left: 120px !important;
    color: #231651 !important;
    margin-bottom: -15px !important;
  }

  #p6Pic {
    height: 370px !important;
  }

  #p6Title {
    padding-left: 50px !important;
    margin-bottom: 145px !important;
  }

  .card-action > a {
    /* color: white !important;
    text-align: center !important; */
    margin-left: 14px;
  }

  .icon {
    height: 20px !important;
    width: 80px;
    padding-top: 20px;
  }

  #iconDiv {
    margin-top: 10px !important;
  }

  .form-header {
    font-size: 1.5rem;
  }

  footer {
    font-size: 0.7rem;
  }
}
